.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.title {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.background {
  background-color: #25c7d2;
}

.card {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
