/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    font-family: system-ui, '-apple-system', 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'system-ui',
      'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
} */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1c9aa3;
  --ifm-color-primary-dark: #198b93;
  --ifm-color-primary-darker: #18838b;
  --ifm-color-primary-darkest: #146c72;
  --ifm-color-primary-light: #1fa9b3;
  --ifm-color-primary-lighter: #20b1bb;
  --ifm-color-primary-lightest: #24c8d4;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #36d1dc;
  --ifm-color-primary-dark: #25c7d2;
  --ifm-color-primary-darker: #23bcc6;
  --ifm-color-primary-darkest: #1c9aa3;
  --ifm-color-primary-light: #4dd6e0;
  --ifm-color-primary-lighter: #59d9e2;
  --ifm-color-primary-lightest: #7ce1e8;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
